
.icon-right-open:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\e801'; } /* '' */
.icon-up-open:before { content: '\e802'; } /* '' */
.icon-left-open:before { content: '\e803'; } /* '' */
.icon-dot-3:before { content: '\e804'; } /* '' */
.icon-bullhorn:before { content: '\e805'; } /* '' */
.icon-beach:before { content: '\e809'; } /* '' */
.icon-bear:before { content: '\e80c'; } /* '' */
.icon-brids:before { content: '\e80d'; } /* '' */
.icon-leopards:before { content: '\e80e'; } /* '' */
.icon-mountain:before { content: '\e80f'; } /* '' */
.icon-forest:before { content: '\e810'; } /* '' */
.icon-elephant:before { content: '\e811'; } /* '' */