.landingicons{
    padding:0 20px ;
}

.cat-icon{
    padding: 0 20px;
    text-align: center;
    
    i{
        font-size: 43px;
    }
    span{
        font-size: 22px;
        font-weight: bold;
        color: #000;
        padding-top: 10px;
        line-height: 50px;
        &:hover{
            color: #8d1526;
        }
    }
    a:hover{
        color: yellowgreen;
        text-decoration: none;
    }
}

.searchcenter{
    padding: 50px 20px; 
}

.popu-search{
    padding-bottom: 25px;
}